<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192372494375-oh6fqnrnno10mrmlvqrdcnntiba3k03m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192372494375-oh6fqnrnno10mrmlvqrdcnntiba3k03m</string>
	<key>API_KEY</key>
	<string>AIzaSyAemEYhQd2yfvBhaocBLfGsk1lSNKSM7Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>192372494375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thinktaktic</string>
	<key>PROJECT_ID</key>
	<string>thinktaktic-88f12</string>
	<key>STORAGE_BUCKET</key>
	<string>thinktaktic-88f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192372494375:ios:17b6c0153a9604e0e23e02</string>
</dict>
</plist>